body {
  background: #E3AAC9;
}
input[type=range] {
  -webkit-appearance: none;
  width: 200px;
  height: 12px;
  background: #b97a56;
  border-radius: 8px;
  border: 2px solid #7c4a03;
  box-shadow: 0 2px 8px #7c4a0333 inset;
  margin-top: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #deb887;
  border: 2px solid #7c4a03;
  box-shadow: 0 2px 6px #7c4a03 inset, 0 0 0 4px #b97a56;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #deb887;
  border: 2px solid #7c4a03;
  box-shadow: 0 2px 6px #7c4a03 inset, 0 0 0 4px #b97a56;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #deb887;
  border: 2px solid #7c4a03;
  box-shadow: 0 2px 6px #7c4a03 inset, 0 0 0 4px #b97a56;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  background: #b97a56;
  border-radius: 8px;
  height: 12px;
  border: 2px solid #7c4a03;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #b97a56;
  border-radius: 8px;
  border: 2px solid #7c4a03;
}

